* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #E2DAD6; /* Similar soft brown */
    color: #333;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #6482AD; /* Dark sidebar for contrast */
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    color: #f0ad4e;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.dashboard-header {
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.dashboard-header h1 {
    font-size: 36px;
    color: #3d3b56;
}

.stats {
    margin-left: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.stat-card {
    background-color: #ffffff;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
    font-size: 20px;
    color: #3d3b56;
}

.stat-card p {
    font-size: 24px;
    color: #333;
}

.workout-plan {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: 250px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.workout-plan h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.workout-plan ul {
    list-style: none;
}

.workout-plan ul li {
    font-size: 18px;
    margin-bottom: 10px;
}

